body {
  font: 19px/23px Montserrat, sans-serif;
}

body {
  background-color: #171c28;
  color: #f8f9fa;
  margin: 0 30px;
}

main {
  margin: 0 30px;
}

header.header-website {
  background-color: #f3efef;
  height: 75px;
  margin-bottom: 15px;
}

.section-display {
  display: flex;
  margin-bottom: 10rem;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-display {
    flex-direction: row;
  }
  .section-display.left-text-content {
    flex-direction: row;
  }
  .section-display.left-text-content .illustration {
    padding-left: 5rem;
  }
  .section-display.right-text-content {
    flex-direction: row-reverse;
  }
  .section-display.right-text-content .illustration {
    padding-right: 5rem;
  }
}
.section-display .text-content {
  flex: 1;
}
.section-display .text-content .title {
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 1.1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .title {
    font-size: 70px;
  }
}
.section-display .text-content .paragraph {
  font-size: 15px;
  line-height: 40px;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .paragraph {
    font-size: 30px;
    line-height: 40px;
  }
}
.section-display .illustration {
  flex: 1;
  margin-top: 50px;
  padding: 5rem;
}
.section-display .illustration img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.competences-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 45px;
}
.competences-icons i {
  transition: all 0.3s ease;
}
.competences-icons i:hover {
  cursor: pointer;
  color: #aaa5ff;
  transform: scale(1.2);
}

.btn {
  padding: 15px 30px;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-10px);
}
.btn.btn-primary {
  background-color: #007bff;
  border-color: rgb(0, 73.8, 153);
  color: #f8f9fa;
}
.btn.btn-primary:hover {
  background-color: rgb(51, 149.4, 255);
  color: #171c28;
}
.btn.btn-secondary {
  background-color: #aaa5ff;
  border-color: rgb(73.6666666667, 63, 255);
  color: #171c28;
}
.btn.btn-secondary:hover {
  background-color: rgb(218.1666666667, 216, 255);
  color: #171c28;
}
.btn.btn-gray {
  background-color: #868e96;
  border-color: rgb(84.5575221239, 91, 97.4424778761);
  color: #171c28;
}
.btn.btn-gray:hover {
  background-color: rgb(161.3053097345, 167.5, 173.6946902655);
  color: #171c28;
}
.btn.btn-white {
  background-color: #f8f9fa;
  border-color: rgb(188.5, 198, 207.5);
  color: #171c28;
}
.btn.btn-white:hover {
  background-color: hsl(210, 16.6666666667%, 107.6470588235%);
  color: #171c28;
}
.btn.btn-dark {
  background-color: #171c28;
  border-color: hsl(222.3529411765, 26.9841269841%, -7.6470588235%);
  color: #f8f9fa;
}
.btn.btn-dark:hover {
  background-color: rgb(41.619047619, 50.6666666667, 72.380952381);
  color: #f8f9fa;
}
.btn.btn-lightgray {
  background-color: #f3efef;
  border-color: rgb(199.2857142857, 180.7142857143, 180.7142857143);
  color: #171c28;
}
.btn.btn-lightgray:hover {
  background-color: hsl(0, 14.2857142857%, 104.5098039216%);
  color: #171c28;
}
.btn.btn-accent {
  background-color: #fec131;
  border-color: rgb(200.0289855072, 140.7971014493, 0.9710144928);
  color: #171c28;
}
.btn.btn-accent:hover {
  background-color: rgb(254.2463768116, 208.2753623188, 99.7536231884);
  color: #171c28;
}

.animate-fusee {
  transition: all 1s ease;
  display: inline-block;
}
.animate-fusee:hover {
  animation: moveFusee 2s;
}

@keyframes moveFusee {
  0% {
    transform: translateX(0px);
  }
  1% {
    transform: translateX(0.2px);
  }
  2% {
    transform: translateX(-0.4px);
  }
  3% {
    transform: translateX(0.6px);
  }
  4% {
    transform: translateX(-0.8px);
  }
  5% {
    transform: translateX(1px);
  }
  6% {
    transform: translateX(-1.2px);
  }
  7% {
    transform: translateX(1.4px);
  }
  8% {
    transform: translateX(-1.6px);
  }
  9% {
    transform: translateX(1.8px);
  }
  10% {
    transform: translateX(-2px);
  }
  11% {
    transform: translateX(2.2px);
  }
  12% {
    transform: translateX(-2.4px);
  }
  13% {
    transform: translateX(2.6px);
  }
  14% {
    transform: translateX(-2.8px);
  }
  15% {
    transform: translateX(3px);
  }
  16% {
    transform: translateX(-3.2px);
  }
  17% {
    transform: translateX(3.4px);
  }
  18% {
    transform: translateX(-3.6px);
  }
  19% {
    transform: translateX(3.8px);
  }
  20% {
    transform: translateX(-4px);
  }
  21% {
    transform: translateX(4.2px);
  }
  22% {
    transform: translateX(-4.4px);
  }
  23% {
    transform: translateX(4.6px);
  }
  24% {
    transform: translateX(-4.8px);
  }
  25% {
    transform: translateX(5px);
  }
  26% {
    transform: translateX(-5.2px);
  }
  27% {
    transform: translateX(5.4px);
  }
  28% {
    transform: translateX(-5.6px);
  }
  29% {
    transform: translateX(5.8px);
  }
  30% {
    transform: translateX(-6px);
  }
  31% {
    transform: translateX(6.2px);
  }
  32% {
    transform: translateX(-6.4px);
  }
  33% {
    transform: translateX(6.6px);
  }
  34% {
    transform: translateX(-6.8px);
  }
  35% {
    transform: translateX(7px);
  }
  36% {
    transform: translateX(-7.2px);
  }
  37% {
    transform: translateX(7.4px);
  }
  38% {
    transform: translateX(-7.6px);
  }
  39% {
    transform: translateX(7.8px);
  }
  40% {
    transform: translateX(-8px);
  }
  41% {
    transform: translateX(8.2px);
  }
  42% {
    transform: translateX(-8.4px);
  }
  43% {
    transform: translateX(8.6px);
  }
  44% {
    transform: translateX(-8.8px);
  }
  45% {
    transform: translateX(9px);
  }
  46% {
    transform: translateX(-9.2px);
  }
  47% {
    transform: translateX(9.4px);
  }
  48% {
    transform: translateX(-9.6px);
  }
  49% {
    transform: translateX(9.8px);
  }
  50% {
    transform: translateX(-10px);
  }
  51% {
    transform: translateX(10.2px);
  }
  52% {
    transform: translateX(-10.4px);
  }
  53% {
    transform: translateX(10.6px);
  }
  54% {
    transform: translateX(-10.8px);
  }
  55% {
    transform: translateX(11px);
  }
  56% {
    transform: translateX(-11.2px);
  }
  57% {
    transform: translateX(11.4px);
  }
  58% {
    transform: translateX(-11.6px);
  }
  59% {
    transform: translateX(11.8px);
  }
  60% {
    transform: translateX(-12px);
  }
  61% {
    transform: translateX(12.2px);
  }
  62% {
    transform: translateX(-12.4px);
  }
  63% {
    transform: translateX(12.6px);
  }
  64% {
    transform: translateX(-12.8px);
  }
  65% {
    transform: translateX(13px);
  }
  66% {
    transform: translateX(-13.2px);
  }
  67% {
    transform: translateX(13.4px);
  }
  68% {
    transform: translateX(-13.6px);
  }
  69% {
    transform: translateX(13.8px);
  }
  70% {
    transform: translateX(-14px);
  }
  72% {
    transform: translateY(-20px);
  }
  100% {
    transform: translate(150px, -300px);
  }
}/*# sourceMappingURL=main.css.map */