$primary: #007bff;
$secondary: #aaa5ff;
$gray: #868e96;
$accent: #fec131;
$white: #f8f9fa;
$dark: #171c28;
$lightgray: #f3efef;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $gray,
  "white": $white,
  "dark": $dark,
  "lightgray": $lightgray,
  "accent": $accent,
);
